@import '../base.scss';

.leader {
  padding: 0.5rem;
}

.leader img {
  max-width: 50px;
  max-height: 50px;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.rank-cell {
  min-width: 4rem;
}

.photo-cell {
  min-width: 6rem;
}

.username-cell {
  min-width: 10rem;
}

.course-cell {
  min-width: 20rem;
}

.mastery-cell {
}
.mastery-cell h3 {
  color: $primary-pink;
  font-weight: 600;
}
