@import '../base.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3424AC;
  padding: 0 3rem;
}
.nav a {
  text-decoration: none;
  padding: 1rem;
}

.right-nav {
  display: flex;
  color: #FFFFFF;
}
.right-nav li {
  color: #FFFFFF;
}
