@import '../base.scss';

.nav {
  background-color: #3424AC;
}

.nav-margin {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  text-decoration: none;
  padding: 1rem;
  color: white;
}

.right-nav {
  display: flex;
  color: #FFFFFF;
  align-items: center;
}
.right-nav li {
  color: #FFFFFF;
}

.button-cta {
  display: flex;
  flex-direction: row;
}

.nav p {
  color: white;
}
