@import '../base.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3424AC;
}
.nav a {
  text-decoration: none;
}

.right-nav {
  display: flex;
}
.right-nav h3 {
  color: #FFFFFF;
}
