@import '../base.scss';
.onboarding {
  display: flex;
  justify-content: center;
}

.how-encode-works {
  max-width: 1000px;
}

.onboarding img {
  max-width: 100%;
  height: auto;
}
.onboarding .screenshots {
}
