@import '../base.scss';

.organizations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.organization-list{
  display: flex;
  flex-direction: row;
}

.organization-title {
  margin-left: 1rem;
  padding: 0.2rem;
}
