@import '../base.scss';

.scores {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.score {
  margin-right: 1.5rem;
}

.scores h2 {
  font-size: 2rem;
}

.scores span {
  font-size: 1.5rem;
}
