@import '../base.scss';

.status {
  margin-bottom: 2rem;
}

.status img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.status-content {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.status-completed {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.status-objectives {
}

.status-header {
  display: flex;
  background-color: $background-mid-grey;
  min-height: 5rem;
  border-radius: 10px 10px 0 0;
  align-items: center;
  padding-left: 1rem;
}
.header-info {

}

.status-header img {
  max-height: 3rem;
  max-width: auto;
  margin-right: 1rem;
  // border: 2px solid $primary-blue;
}

.score-increase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  align-items: center;
}
.score-increase p {
  font-size: 5rem;
  font-weight: 600;
  margin: 0;
}
