@import '../base.scss';

.status {
  margin-bottom: 2rem;
}

.status img {
  max-width: 150px;
  max-height: 150px;
  display: block;
}
.status #profilePicture {
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.status #enrolled {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.status #complete {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.status-content {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.status-completed {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.status-objectives {
}

.status-header {
  display: flex;
  background-color: $background-mid-grey;
  min-height: 5rem;
  border-radius: 10px 10px 0 0;
  align-items: center;
  padding-left: 1rem;
}
.header-info {

}

.status-header img {
  max-height: 3rem;
  max-width: auto;
  margin-right: 1rem;
  // border: 2px solid $primary-blue;
}

.score-increase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  align-items: center;
  font-size: 0.5rem;
}
.score-increase p {
  font-size: 5rem;
  font-weight: 600;
  margin: 0;
  color: $primary-blue;
}
.score-increase h4 {
  font-size: 1rem;
  font-weight: 400;
  color: $primary-blue;
}

.topic-notifications {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-right: 1rem;
  align-self: flex-end;
}
.topic-notfication {
  display: flex;
  border-radius: 10px;
  background-color: #FF6363;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 0.8rem;
  margin: 0.7rem 0.7rem 0 0;
}
