@import '../base.scss';

.students img {
  max-width: 50px;
  max-height: 50px;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-right: 1rem;
}
