$body-font: 'Roboto', sans-serif;
$display-font: 'Roboto', sans-serif;

h1,h2,h3,h4,h5,h6{
  color: $primary-pink;
  font-family: $display-font;
  letter-spacing: 0.03rem;
}

h2 {
  font-size: 1.75rem;
  margin: 0.25rem 0 2rem 0;
  padding: 0;
  color: $text-black;
}

h3 {
  font-size: 1.5rem;
  margin: 0.25rem 0 0.5rem 0;
  padding: 0.5rem 0;
  color: $text-black;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
}

h4 {
  font-size: 1.2rem;
  margin: 0.25rem 0 0.5rem 0;
  padding: 0.5rem 0;
  color: $text-black;
  font-style: normal;
  font-weight: normal;
}

 ol, ul{
    padding:0 2rem;
    li{
    line-height: 1.4;
  }
}
ul{
  list-style-type: none;
  padding: 0;
}
